<!DOCTYPE html>
<html>
   <head>
       <script>
           const ftmAPI = require("./ftmAPI");
           var arrDonations = ftmAPI.main();
           function getDonation(int i){
               return arrDonations[i];
           }
       </script>
   </head>
<body>

  <div style="font-family: 'Oswald', sans-serif; background-color: #FBB03B; color: #fff; height: 70px; width:100%;">
    <h1 style="margin-left: 45px;font-size:50px;">where do these <span style="color:#777;">corporations </span>invest?</h1>
  </div>

<div>
  <br />
   <table style="font-size: 18px; color:#777;  width: 60%; text-align: left;">
       <tr style="width: 300px;">
           <th>Amazon</th>
           <th></th>
       </tr>
       <tr style="width: 300px;">
           <td>Other Super Pacs</td>
           <th style="color: #FBB03B;">100,000</th>
       </tr >
       <tr style="width: 300px;">
           <td>Democratic Party</td>
           <th style="color: #FBB03B;">1448486</th>
       </tr>
       <tr style="width: 300px;">
           <td>Republican Party</td>
           <th style="color: #FBB03B;">946108</th>
         </tr>
       <tr style="width: 300px;">
           <td>Lobbyists</td>
           <th style="color: #FBB03B;">6890000</th>
       </tr>
   </table>
   <br />
   <table style="font-size: 18px; color:#777;  width: 60%; text-align: left;">
       <tr style="width: 300px;">
           <th>Coca-Cola Bottlers</th>
           <th></th>
       </tr>
       <tr style="width: 300px;">
           <td>Other Super Pacs</td>
           <th style="color: #FBB03B;">0</th>
       </tr>
       <tr style="width: 300px;">
           <td>Democratic Party</td>
           <th style="color: #FBB03B;">0</th>
       </tr>
       <tr style="width: 300px;">
           <td>Republican Party</td>
           <th style="color: #FBB03B;">8200</th>
       </tr>
       <tr style="width: 300px;">
           <td>Lobbyists</td>
           <th style="color: #FBB03B;">0</th>
       </tr>
   </table>
</div>

</body>
</html>
