<div class="row">
  <div class="column">
    <div class="content">
      <a href="https://www.independent.co.uk/news/world/americas/brett-kavanaugh-jimmy-carter-us-supreme-court-trump-judge-midterms-2018-a8592291.html"><img src="assets/images/womensMarch.jpg" alt="womens march" style="width: 100%;"></img></a>
        <h3>Jimmy Carter: "Kavanaugh 'unfit' to serve on US Supreme Court"</h3>
        <p>
          Jimmy Carter has branded newly-confirmed judge Brett Kavanaugh “unfit” to serve on the US supreme court. <br />
          The former president told an audience at Emory University in Atlanta on Wednesday that Mr Kavanaugh’s confirmation by congress earlier this month was a “very serious mistake”.
        </p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <a href="https://www.independent.co.uk/news/world/americas/brett-kavanaugh-jimmy-carter-us-supreme-court-trump-judge-midterms-2018-a8592291.html"><img src="assets/images/womensMarch.jpg" alt="womens march" style="width: 100%;"></img></a>
        <h3>Jimmy Carter: "Kavanaugh 'unfit' to serve on US Supreme Court"</h3>
        <p>
          Jimmy Carter has branded newly-confirmed judge Brett Kavanaugh “unfit” to serve on the US supreme court. <br />
          The former president told an audience at Emory University in Atlanta on Wednesday that Mr Kavanaugh’s confirmation by congress earlier this month was a “very serious mistake”.
        </p>
    </div>
  </div>
</div>
