<!DOCTYPE html>
<html>
<head>
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
    <!-- NAVBAR-->
    <nav class="fill">
        <ul>
            <li style="float: left;"><a href="#"><img src="assets/images/wallet-check.png"
                style="width:260px; height: 48px;"></a></li>
            <li><a href="app.component.html#corporations">corporations</a></li>
            <li><a href="#">causes</a></li>
            <li><a href="#">vote</a></li>
        </ul>
    </nav>
    <a href="#home"></a>
    <app-home></app-home>
    <a href="#corporations"></a>
    <app-corporations></app-corporations>
</body>
</html>
