<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
<div style="font-family: 'Oswald', sans-serif; background-color: #FBB03B; color: #fff; height: 70px; width:100%;">
  <h1 style="margin-left: 45px;font-size:50px;">which causes are <span style="color:#777;">important </span>to you?</h1>
</div>

<!-- Carousel-->
<ngbd-carousel-basic></ngbd-carousel-basic>

  <!--NEWS GALLERY-->
  <br />
  <div style="font-family: 'Oswald', sans-serif; background-color: #FBB03B; color: #fff; height: 70px; width:100%;">
    <h1 style="margin-left: 45px;font-size:50px;">read about <span style="color:#777;">today's </span>news</h1>
  </div>
  <br />

      <div class="row" style="font-family: 'oswald'; margin-left: 2px; margin-right: 2px;">
    <div class="col-md-4">
      <div class="thumbnail" style="background-color: #777;">
        <a href="https://www.independent.co.uk/news/world/americas/brett-kavanaugh-jimmy-carter-us-supreme-court-trump-judge-midterms-2018-a8592291.html"target="_blank">
          <img src="/assets/images/kavanaugh.jpg" alt="Lights" style="width:100%"></a>
          <div class="caption">
            <p style="font-size: 16px; color: #fff;">The former president told an audience at Emory University in Atlanta on Wednesday that Mr Kavanaugh’s confirmation by congress earlier this month was a “very serious mistake”. <br />
              “I thought that whether or not he attempted to rape that woman, whether or not, I thought he was temperamentally unfit to serve on the Supreme Court because of his outburst during the hearing,” Mr Carter was recorded by an audience member as saying.  </p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail" style="background-color: #777;">
        <a href="https://www.cnn.com/2018/10/21/middleeast/jamal-khashoggi-international-pressure-builds-intl/index.html"target="_blank">
          <img src="./assets/images/saudi.jpg" alt="Nature" style="width:100%"></a>
          <div class="caption">
            <p style="font-size: 16px; color: #fff;">(CNN)Saudi Arabia Foreign Minister Adel al-Jubeir told Fox News that the killing of journalist Jamal Khashoggi was a "tremendous mistake" and part of a rogue operation.
                "The individuals who did this did this outside the scope of their authority," he told Bret Baier on Sunday. "There obviously was a tremendous mistake made, and what compounded the mistake was the attempt to try to cover up. That is unacceptable in any government."
                Al-Jubeir said that Saudi Arabia was taking action to investigate how Khashoggi died and hold those responsible accountable.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail" style="background-color: #777;">
        <a href="https://www.recode.net/2018/10/15/17914666/amazon-hq2-contenders"target="_blank">
          <img src="./assets/images/amazon.jpg" alt="Nature" style="width:100%"></a>
          <div class="caption">
            <p style="font-size: 16px; color: #fff;">After more than a year of fanfare, competition and city government prostrations, Amazon’s announcement of its second headquarters location is imminent.<br />
              Back in September 2017 the e-commerce company first asked for proposals from North American cities on where to house its HQ2, which would come with 50,000 jobs and $5 billion in capital spending for the winning city.<br />
              Amazon said it was looking for a city equal to its Seattle headquarters and would preference those with lots of tech talent.</p>
          </div>
      </div>
    </div>
    </div>

  </body>
  </html>
